.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #c2f1ac;
  border: 2px solid #b0c79d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box;
  height: auto;
  z-index: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
  height: 50px;
  width: 50px;
  display: block;
  margin: 5px auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  background-color: #f4f4fa;
  border: 2px solid #b5cca2;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
}


.h2 {
  color: #756e54;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.input-group,  .label {
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  line-height: 2;
  text-align: center;
  color: #275302;
  margin-bottom: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
} 

.input_field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 2px solid hsl(96, 15%, 6%);
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-display: auto;
  font-weight: 800;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4fa;
  box-sizing: border-box;
  margin-bottom: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit_button {
  padding: 20px 20px;
  background-color: #013003;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 20px;
}

.result {
  background-color: #f8e005;
  border-radius: 5px;
  max-width: 500px;
  font-size: 1rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.result, .h3 {
  margin: 0;
  font-weight: bold;
  font-size: 0.8rem;
  color: #413a01;
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



