.container {
  margin: 0;
  background-color: #bedba3;
  border: 5px solid #176304;
  color: #9c8501;
  width: 40%;
  height: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  text-overflow: clip;
  text-indent: 0;
}

.logo {
  height: 50px;
  width: 50px;
  display: block;
  margin: 5px auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  background-color: #f4f4fa;
  border: 2px solid #b5cca2;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
}


.h2 {
  color: #f8c007;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.input-group,  .label {
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  color: #275302;
  margin-bottom: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
} 

.input_field {
  display: flex;
  width: 50%;
  padding: 10px;
  border: 2px solid #b5cca2;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5;
  outline: none;
  color: #333;
  background-color: #f4f4fa;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit_button {
  padding: 20px 20px;
  background-color: #013003;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.result {
  background-color: #f8e005;
  border-radius: 5px;
  max-width: 500px;
  font-size: 1rem;
  color: #050a02;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



